################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/api/CVT.Galvanize.Api/obj/project.assets.json
/src/api/CVT.Galvanize.Api/obj/**
/src/api/CVT.Galvanize.Api/bin/**
/src/api/.vs/CVT.Galvanize.Api/v15/**
/src/api/CVT.Galvanize.Data/bin/**
/src/api/CVT.Galvanize.Data/obj/**
/src/api/CVT.Galvanize.Data/StyleCop.Cache
/src/.vs/**
